:root{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS','sans-serif';
    scroll-behavior: smooth;
}
*{ 
    padding: 0;
    margin: 0;
}
  nav{
    position:-webkit-sticky;
    position:sticky; 
    top: 0;    
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: aqua;
    


}
.nav{
    width: 100%;
    height: 80px;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-between;


     
} 


}
.nav1{
    width: 30%;
    height: 60px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu-bar{
    width:50%;
    height: 60px;
    background-color: azure;
    

}
.menu-bar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    
}

.home
{
    width:100%;
    height:91vh;
    background: green;
}
.about
{
    display: flex;
    justify-content: row;
    width:100%;
    height:91vh;
    background:yellow;
    align-items: center;
}

h1{
    margin: 0px;
}
.project
{
    width:100%;
    height:91vh;
    background: blue;
}
.contact
{
    width:100%;
    height:91vh;
    background: purple;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_social_media{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 55vh;
    background-color: rgb(13, 13, 13);
}
.contact_form_div{
    width: 50%;
    height: 55vh;
   background-color:#36454F;
    
    
}
form{
    width: 100%;
    height: 100%;
   
    display: flex;
    align-items: center;
    flex-direction: column;

   
}
.contact_us{
    width: 100%;
    height: 4vh;
 
}
.name_div
{
    width: 100%;
    height: 10vh;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.in{
    height: 5vh;
    width: 320px;
    
}
.contact_details_div{
    width: 100%;
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.subject_div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
   
    /* padding-top: 30px; */

}
.message_div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    
    
   
}
.in2{
    height: 50px;
    width: 780px;

    
}
textarea{
    height: 100px;
    width: 780px;
}
.send_it_div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
   

}
.send_it_button{
    height: 50px;
    width: 200px;
    background: whitesmoke;
    border-radius: 20px;
    font-size: medium;

}

.social_media_image{
    background-image: url(./image/Social\ networking-bro.png);
    background-size: 500px 500px;
    background-repeat: no-repeat;
    height: 40vh;
    width: 600px;
}
.social_media_link{
    height: 15vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#linkedin{
    display: block; 
    width: 200px;
    height: 100px; 
    background-image: url(./image/linkedin_logo.png); 
    background-size: 100px 100px;
    background-repeat: no-repeat;
   
}
#twitter{
    display: block; 
    width: 200px;
    height: 100px; 
    background-image: url(./image/twitter_logo.png); 
    background-size: 100px 100px;
    background-repeat: no-repeat;
   
}
#facebook{
    display: block; 
    width: 200px;
    height: 100px; 
    background-image: url(./image/facebook_logo.png); 
    background-size: 100px 100px;
    background-repeat: no-repeat;
   
}
#github
{
    display: block; 
    width: 200px;
    height: 100px; 
    background-image: url(./image/github_logo.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    filter: grayscale(100%) brightness(0) invert(1);
}

.social_media_image{
    background-image: url(./image/Social\ networking-bro.png);
    background-size: 500px 500px;
    background-repeat: no-repeat;
    height: 40vh;
    width: 600px;
}
.social_media_link{
    height: 15vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#linkedin{
    display: block; 
    width: 200px;
    height: 100px; 
    background-image: url(./image/linkedin_logo.png); 
    background-size: 100px 100px;
    background-repeat: no-repeat;
   
}
#twitter{
    display: block; 
    width: 200px;
    height: 100px; 
    background-image: url(./image/twitter_logo.png); 
    background-size: 100px 100px;
    background-repeat: no-repeat;
   
}
#facebook{
    display: block; 
    width: 200px;
    height: 100px; 
    background-image: url(./image/facebook_logo.png); 
    background-size: 100px 100px;
    background-repeat: no-repeat;
   
}
#github
{
    display: block; 
    width: 200px;
    height: 100px; 
    background-image: url(./image/github_logo.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    filter: grayscale(100%) brightness(0) invert(1);
}

  
 
  
  

